---
import CaloriesCard from "./CaloriesCard.astro";

---

<section class="home relative">
  <div class="container">
    
    <div class="details">
      <CaloriesCard />
    </div>
  </div>
</section>
